    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Our Apps</h2>
                    <p>You can download our Apps for free on Google Play Store.</p>
                    <a href="https://play.google.com/store/search?q=pub:TYO Lab">
					<img alt="Android app on Google Play"
					       src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
					</a>
                </div>
            </div>
        </div>
    </section>