	<section class="container content-section text-center">
		<div class="row">
		<div >
		<table class="wt-content-inner">
		<tr>
		<td>
			<div class="wt-content-slide-show">
				<div class="wt-content-slide-show-bg">
					<!--  
					<img src="/images/main-dark.png" alt="Wikie Talkie snapshots slideshow">
						<div id="content-slider">
						-->
			    	<div id="slider">
			        	<div id="mask">
			            <ul>
			           	<li id="first" class="firstanimation">
			            <a href="#">
			            <img src="/images/main-dark.png" alt="main screen - dark theme"/>
			            </a>
			            <div class="tooltip">
			            <h3>The main screen</h3>
			            </div>
			            </li>
			
			            <li id="second" class="secondanimation">
			            <a href="#">
			            <img src="/images/suggestions.png" alt="Suggestions"/>
			            </a>
			            <div class="tooltip">
			            <h1>Suggestions</h3>
			            </div>
			            </li>
			            
			            <li id="third" class="thirdanimation">
			            <a href="#">
			            <img src="/images/theme-chooser-dark.png" alt="choose theme"/>
			            </a>
			            <div class="tooltip">
			            <h3>Choose theme</h3>
			            </div>
			            </li>
			                        
			            <li id="fourth" class="fourthanimation">
			            <a href="#">
			            <img src="/images/settings-dark.png" alt="Settings"/>
			            </a>
			            <div class="tooltip">
			            <h3>Seetings</h3>
			            </div>
			            </li>
			                        
			            <li id="fifth" class="fifthanimation">
			            <a href="#">
			            <img src="/images/full-mh370-dark.png" alt="Full article for MH370"/>
			            </a>
			            <div class="tooltip">
			            <h3>MH370</h3>
			            </div>
			            </li>
			            
			            <li id="sixth" class="sixthanimation">
			            <a href="#">
			            <img src="/images/drawer-left-featured-dark.png" alt="Left Drawer - Featured Ariticle Tab"/>
			            </a>
			            <div class="tooltip">
			            <h3>Featured Ariticles</h3>
			            </div>
			            </li>
			            
			            <li id="seventh" class="seventhanimation">
			            <a href="#">
			            <img src="/images/drawer-left-related-dark.png" alt="Left Drawer - Related Ariticle Tab"/>
			            </a>
			            <div class="tooltip">
			            <h3>Related Ariticles</h3>
			            </div>
			            </li>
			            
			            <li id="eighth" class="eighthanimation">
			            <a href="#">
			            <img src="/images/drawer-right-dark.png" alt="Language links for MH370"/>
			            </a>
			            <div class="tooltip">
			            <h3>Language links for MH370</h3>
			            </div>
			            </li>
			            
			            </ul>
			            </div>
			            <div class="progress-bar"></div>
			    </div>
				</div>
			</div>
			</td>
			
			<td>
			<div class="wt-content-top">
				<h1>Makes Knowledge Discovery Fun</h1>
				<br>
				<p class="wt-content-availibility">Available now on Android and we are working to make it available on other devices in future.</p>
				<br>
				<br>
				<br>
				<br>
				<div class="wt-content-app-store-links">
		     		<a href="https://play.google.com/store/apps/details?id=au.com.tyo.wiki.android">
					  		<img alt="Get it on Google Play"
					       src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
					</a>  
				</div>
			</div>
			</td>
			
			<td>
			<div class="wt-content-slide-show2">
				<div class="wt-content-slide-show-bg">
					<!--  
					<img src="/images/main-dark.png" alt="Wikie Talkie snapshots slideshow">
						<div id="content-slider">
						-->
			    	<div id="slider">
			        	<div id="mask">
			            <ul>
			           	<li id="first" class="firstanimation">
			            <a href="#">
			            <img src="/images/main-katy-perry-light.png" alt="The Abstract for Katy Perry"/>
			            </a>
			            <div class="tooltip">
			            <h3>The Abstract for Katy Perry</h3>
			            </div>
			            </li>
			
			            <li id="second" class="secondanimation">
			            <a href="#">
			            <img src="/images/setting-voice-languages.png" alt="Choose language for voice input"/>
			            </a>
			            <div class="tooltip">
			            <h1>List of supported language for voice input</h3>
			            </div>
			            </li>
			            
			            <li id="third" class="thirdanimation">
			            <a href="#">
			            <img src="/images/theme-chooser-light.png" alt="choose theme"/>
			            </a>
			            <div class="tooltip">
			            <h3>Choose theme</h3>
			            </div>
			            </li>
			                        
			            <li id="fourth" class="fourthanimation">
			            <a href="#">
			            <img src="/images/settings-cross-wikipedia-search.png" alt="The setting for cross-lingual Wikipedia search"/>
			            </a>
			            <div class="tooltip">
			            <h3>The setting for cross-lingual Wikipedia search</h3>
			            </div>
			            </li>
			                        
			            <li id="fifth" class="fifthanimation">
			            <a href="#">
			            <img src="/images/full-iron-man-light-expand.png" alt="Full article for Ironman movie"/>
			            </a>
			            <div class="tooltip">
			            <h3>Iranman movie</h3>
			            </div>
			            </li>
			            
			            <li id="sixth" class="sixthanimation">
			            <a href="#">
			            <img src="/images/full-iron-man-light-2.png" alt="Full article for Ironman movie"/>
			            </a>
			            <div class="tooltip">
			            <h3>Iranman movie</h3>
			            </div>
			            </li>
			            
			            <li id="seventh" class="seventhanimation">
			            <a href="#">
			            <img src="/images/drawer-left-history.png" alt="Left Drawer - History Tab"/>
			            </a>
			            <div class="tooltip">
			            <h3>History</h3>
			            </div>
			            </li>
			            
			            <li id="eighth" class="eighthanimation">
			            <a href="#">
			            <img src="/images/drawer-left-featured.png" alt="Left Drawer - Featured Ariticle Tab"/>
			            </a>
			            <div class="tooltip">
			            <h3>Featured Ariticles</h3>
			            </div>
			            </li>
			            
			            </ul>
			            </div>
			            <div class="progress-bar"></div>
			    </div>
				</div>
			</div>
			</td>
			</tr>
			</table>
			<div class="wt-content-bottom">
			</div>
		</div>
		</div>
	</section>